.checked {
  color: #ffa500;
}

.pipe {
  margin-right: 10px;
  margin-left: 10px;
}

.breadcrumb {
  background-color: #ffffff;
}

.header-wrapper {
  margin-top: 7px;
}

.pipe-wrapper {
  font-size: 27px;
  color: #eef0f2;
}

.active-route {
  color: #6fb4f2;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}