p {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 15em;
  font-weight: 100;
  text-shadow: 2px 2px lightslategray;
}

.navigate{
  color: #00ffff;
}